:root {
  --li-color: #165099;
  --li-thicker-color: #14437d;
  --li-color-hover: #093b70;
  --li-color-border: #032947;
  --font-color-white: #ffffff;
  --font-color-black: #000000;
  --app-main-backgroundcolor: #ececec;
  --container-width: calc(100% - 200px);
  --app-main-height: calc(100% - 110px);
  --content--w-and-h: calc(100% - 20px)
}



/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

